* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.container {
  width: 500px;
  height: 500px;
  background-color: black;
  margin: 20px 25%;
  position: relative;
}
.yellowBox {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: absolute;
  bottom: 0;
  right: 0;
}
.redBox {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 30px;
  right: 0;
}
